/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

:root {
  --primary-color: #003D23; 
  --accent-color: #A6979C;
  --background-color: #F5F5F5;
  --class-color-scheme: #C73032;
  --text-color-lighter: #7f888f;
  --text-color-darker: #3d4449;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  font-size: 16px;
  padding: 2em 1em 5em;
}

img{
  display: block;
  max-width: 75%;
  margin: 0 auto;
  padding: 30px;
}

.container{
  display: block;
  margin: 0 auto;
  max-width: 75%;
}

.builder{
  display: flex;
  margin: 20px 0;
  align-content: center;
}

label {
  margin: 0 10px;
}

#name-history {
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  color: #29627e;
  font-family: 'Georgia', serif;
}

#name-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.name-list-item {
  cursor: pointer;
  padding: 4px;
  transition: background 0.2s ease;
}

.name-list-item:hover {
  background-color: #C73032;
}

#build-character-btn {
  background-color: #007baa;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.color-scheme{
  color: var(--class-color-scheme);
  border: 2px solid var(--class-color-scheme);
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
html {
  font-size: 16px;
}